<h1>Create Your Character</h1>

<%= form_with url: submit_character_path, method: :post do |form| %>
  <div>
    <label for="character_name">Character Name:</label>
    <%= form.text_field :character_name, id: 'character_name', required: true %>
  </div>

  <div>
    <label for="character_situation">Character Situation:</label>
    <%= form.text_area :character_situation, id: 'character_situation', required: true %>
  </div>

  <div>
    <%= form.submit "Create Character" %>
  </div>
<% end %>
